.name {
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	overflow-wrap: break-word;
	user-select: text;
	cursor: auto;
}

.name.cjk {
	font-size: 3rem;
}

.color-bar {
	border-radius: 0.2rem;
	height: 0.4rem;
	cursor: pointer;
}
