<div class="column wrapper {{getBetterScroll()?'scrollable':''}}" [formGroup]="formGroup">
	<div class="column padding-sides">
		<div class="column gap-small spacing">
			<div class="row gap-small center">
				<div class="spacing">
					<app-search [label]="'app.start' | transloco" [parentFormGroup]="formGroup" childFormControlName="startInput" [includeStations]="true" [includeRoutes]="false" [includeDepots]="!usePathfinder()" [includeClients]="true" (stationClicked)="onClickStation($event, true)" (clientClicked)="onClickClient($event, true)" (textCleared)="onClearInput(true)"/>
				</div>
				<button pButton class="icon-button" [rounded]="true" [text]="true" (click)="swapStations()" [disabled]="cannotSwap()" [pTooltip]="'directions.swap_stations' | transloco">
					<div class="material-icons">swap_vert</div>
				</button>
			</div>
			<div class="row gap-small center">
				<div class="spacing">
					<app-search [label]="'app.end' | transloco" [parentFormGroup]="formGroup" childFormControlName="endInput" [includeStations]="true" [includeRoutes]="false" [includeDepots]="!usePathfinder()" [includeClients]="true" (stationClicked)="onClickStation($event, false)" (clientClicked)="onClickClient($event, false)" (textCleared)="onClearInput(false)"/>
				</div>
				<button pButton class="icon-button" [rounded]="true" [text]="true" (click)="refreshDirections()" [disabled]="cannotManuallyRefresh()" [pTooltip]="'directions.refresh_directions' | transloco">
					<div class="material-icons">refresh</div>
				</button>
			</div>
		</div>
		@if (usePathfinder()) {
			<p-divider/>
			<div class="column gap-small spacing">
				<div class="row gap-small center">
					<div class="spacing">
						<p-float-label variant="in">
							<p-input-number inputId="max-walking-distance" formControlName="maxWalkingDistance" [min]="0" [max]="3000" [disabled]="!walkingWildCheckbox.checked" (onInput)="updateMaxWalkingDistance()" [fluid]="true"/>
							<label for="max-walking-distance">{{ 'directions.maximum_walking_distance' | transloco }}</label>
						</p-float-label>					
					</div>
					<p-checkbox #walkingWildCheckbox (onChange)="checkStatus()" inputId="enable-walking-wild" formControlName="enableWalkingWild" [binary]="true" [pTooltip]="'directions.walking' | transloco" tooltipPosition="left"/>
				</div>
				<app-search [label]="'directions.ignored_routes' | transloco" [parentFormGroup]="formGroup" childFormControlName="ignoredRoutesInput" (routeClicked)="checkStatus()" (textCleared)="checkStatus()" [selectedValues]="ignoredRoutes" [includeStations]="false" [includeRoutes]="true" [includeDepots]="false" [includeClients]="false" [multiple]="true"/>
				<app-search [label]="'directions.avoid_stations' | transloco" [parentFormGroup]="formGroup" childFormControlName="avoidStationsInput" (stationClicked)="checkStatus()" (textCleared)="checkStatus()" [selectedValues]="avoidStations" [includeStations]="true" [includeRoutes]="false" [includeDepots]="false" [includeClients]="false" [multiple]="true"/>
			</div>
			<p-divider/>
			<div class="column gap-small spacing">
				<div class="row gap-small center">
						<p-check-box (onChange)="checkStatus()" inputId="only-lrt" formControlName="onlyLightRail" [binary]="true"/>
						<label for="only-lrt">{{ 'directions.only_lrt' | transloco }}</label>
						<p-check-box (onChange)="checkStatus()" inputId="no-hsr" formControlName="noHSR" [binary]="true"/>
						<label for="no-hsr">{{ 'directions.no_hsr' | transloco }}</label>
				</div>
				<div class="row gap-small center">
						<p-check-box (onChange)="checkStatus()" inputId="no-boats" formControlName="noBoats" [binary]="true"/>
						<label for="no-boats">{{ 'directions.no_boats' | transloco }}</label>
						@if (getShowHiddenRoutes()) {
							<p-check-box (onChange)="checkStatus()" inputId="in-theory" formControlName="inTheory" [binary]="true"/>
							<label for="in-theory">{{ 'directions.in_theory' | transloco }}</label>
						}
				</div>
			</div>
		}
		<p-divider/>
	</div>
	@if (isLoading()) {
		<div class="column center wrapper">
			<div class="spacing"></div>
			<p-progress-spinner/>
			<div class="spacing"></div>
		</div>
	} @else {
		@if (isValid() && getDirections().length === 0) {
			<div class="column center wrapper">
				<div class="spacing"></div>
				<div class="material-icons big-icon">remove_road</div>
				<div>{{ 'directions.no_directions_found' | transloco }}</div>
				<div class="spacing"></div>
			</div>
		} @else {
			<div class="column padding-sides content">
				@for (direction of getDirections(); track $index) {
					<app-route-display [colorAbove]="$index === 0 ? undefined : getRouteColor($index - 1)" [colorBelow]="getRouteColor($index)" [isStation]="true" [icons]="[]">
						<div class="row center">
							<app-data-list-entry class="spacing" [icons]="[]" [title]="[getStationName(direction.startStation), '']" [subtitles]="[[getPlatformName(direction.startPlatformName), '']]" [useLightColor]="false" [clickable]="false"/>
							<div class="gray no-wrap">{{ direction.startTime | formatDate }}</div>
						</div>
					</app-route-display>
					<app-route-display [colorAbove]="getRouteColor($index)" [colorBelow]="getRouteColor($index)" [isStation]="false" [icons]="[{icon: direction.route ? direction.icon : sameStation(direction) ? 'transfer_within_a_station' : 'directions_walk', offset: 0}, {icon: direction.route ? (direction.route.hidden ? 'visibility_off' : '') : '', offset: 30}]">
						@if (direction.route) {
							<div class="row center">
								<app-data-list-entry class="spacing" [icons]="[getCircularIcon(direction.route)]" [title]="[getRouteName(direction.route), '']" [subtitles]="[[getRouteDestination(direction.route), '']]" [useLightColor]="true" [clickable]="false"/>
								<div class="row center gray">
									<div class="material-icons">schedule</div>
									<div>&nbsp;{{ getDuration(direction) }}</div>
								</div>
							</div>
						} @else {
							<div class="row center">
								<app-data-list-entry class="spacing" [icons]="[]" [title]="[getDistanceLabel(direction), '']" [subtitles]="[]" [useLightColor]="true" [clickable]="false"/>
								<div class="row center gray">
									<div class="material-icons">schedule</div>
									<div>&nbsp;{{ getDuration(direction) }}</div>
								</div>
							</div>
						}
					</app-route-display>
					@if (direction.intermediateStations.length > 0) {
						<app-route-display [colorAbove]="getRouteColor($index)" [colorBelow]="getRouteColor($index)" [isStation]="false" [icons]="[]">
							<div class="intermediate-stations">
								<p-accordion [multiple]="true" value="0">
									<p-accordion-panel>
										<p-accordion-header>{{ direction.intermediateStations.length }} {{ 'directions.intermediate_station' | transloco }}</p-accordion-header>
										<p-accordion-content>
											<div class="column gap-small">
												@for (intermediateStation of direction.intermediateStations; track $index) {
													<div [className]="getFontStyle()==='SERIF'?'font-serif':''">{{ intermediateStation.name | formatName }}</div>
												}
											</div>
										</p-accordion-content>
									</p-accordion-panel>
								</p-accordion>
							</div>
						</app-route-display>
					}
					@if ($index === $count - 1) {
						<app-route-display [colorAbove]="getRouteColor($index)" [colorBelow]="undefined" [isStation]="true" [icons]="[]">
							<div class="row center">
								<app-data-list-entry class="spacing" [icons]="[]" [title]="[getStationName(direction.endStation), '']" [subtitles]="[[getPlatformName(direction.endPlatformName), '']]" [useLightColor]="false" [clickable]="false"/>
								<div class="gray no-wrap">{{ direction.endTime | formatDate }}</div>
							</div>
						</app-route-display>
					}
				}
			</div>
		}
	}
</div>
