@if (isOffline()) {
	<div class="banner">
		<p>{{ 'app.offline' | transloco }}</p>
	</div>
}

<app-drawer #sideMain [title]="'app.title' | transloco">
	<app-main-panel
			class="wrapper"
			(stationClicked)="onClickStation($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, true)"
			(routeClicked)="onClickRoute($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"
			(clientClicked)="onClickClient($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"
			(directionsOpened)="onOpenDirections(undefined, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"
			(depotClicked)="onClickDepot($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, true)"/>
</app-drawer>

<app-drawer #sideStation [title]="'app.details.station' | transloco" (closed)="onCloseStation()">
	<app-station-panel
			(stationClicked)="onClickStation($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, true)"
			(routeClicked)="onClickRoute($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"
			(directionsOpened)="onOpenDirections($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"
			(depotClicked)="onClickDepot($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, true)"/>
</app-drawer>


<app-drawer #sideClient [title]="'app.details.player' | transloco" (closed)="onCloseClient()">
	<app-client-panel
			(stationClicked)="onClickStation($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, true)"
			(routeClicked)="onClickRoute($event.key, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, $event.id)"
			(directionsOpened)="onOpenDirections($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"
			(depotClicked)="onClickDepot($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, true)"/>
</app-drawer>

<app-drawer #sideDirections [title]="'directions.title' | transloco" (closed)="onCloseDirections()">
	<app-directions/>
</app-drawer>

<app-drawer #sideRoute [title]="'app.details.route' | transloco" (closed)="onCloseRoute()">
	<app-route-panel
			(stationClicked)="onClickStation($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, true)"
			(routeClicked)="onClickRoute($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"
			(depotClicked)="onClickDepot($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, true)"/>
</app-drawer>

<app-drawer #sideDepot [title]="'app.details.depot' | transloco" (closed)="onCloseDepot()">
	<app-depot-panel
			(routeClicked)="onClickRoute($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"
			(directionsOpened)="onOpenDirections($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"/>
</app-drawer>

<app-map
		(stationClicked)="onClickStation($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, false)"
		(clientClicked)="onClickClient($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)"
		(depotClicked)="onClickDepot($event, sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot, false)"/>
<button pButton class="button-corner" [rounded]="true" [text]="true" [raised]="true" size="large" (click)="onClickMain(sideMain, sideStation, sideClient, sideDirections, sideRoute, sideDepot)" [pTooltip]="'app.menu' | transloco" tooltipPosition="left">
	<div class="material-icons" translate="no">menu</div>
</button>
