.title {
	font-weight: bold;
	overflow-wrap: break-word; /* Compatibility */
	overflow-wrap: anywhere;
}

.subtitle {
	font-size: 0.6rem;
	overflow-wrap: break-word; /* Compatibility */
	overflow-wrap: anywhere;
}

.light-color {
	color: var(--light-color);
}

.color {
	border-left: 4px solid;
	padding-left: 4px;
}

.align-right {
	text-align: right;
	overflow-wrap: normal;
}
