<div class="column wrapper">
    <div class="column gap padding-sides">
        <app-title [name]="getDepot()?.name ?? ''" [color]="getDepotColor()"/>
        <div class="row gap-small center">
            <div class="row gap center" [pTooltip]="'app.location' | transloco" tooltipPosition="left">
                <div class="material-icons" translate="no">my_location</div>
                <div>({{ getCoordinatesText() }})</div>
            </div>
            <div class="row center">
                <button pButton class="icon-button" [rounded]="true" [text]="true" (click)="copyLocation(icon)" [pTooltip]="'app.copy_location' | transloco" tooltipPosition="bottom">
                    <div class="material-icons" translate="no" #icon>content_copy</div>
                </button>
                <button pButton class="icon-button" [rounded]="true" [text]="true" (click)="focus()" [pTooltip]="'app.focus_on_map' | transloco" tooltipPosition="bottom">
                    <div class="material-icons" translate="no">filter_center_focus</div>
                </button>
                @if (getEnableViewOnWorldMap()) {
                    <button pButton class="icon-button" [rounded]="true" [text]="true" (click)="viewOnWorldMap()" [pTooltip]="'app.view_on_world_map' | transloco" tooltipPosition="bottom">
                        <div class="material-icons" translate="no">map</div>
                    </button>
                }
            </div>
        </div>
        @if (!isOffline() && !usePathfinder()) {
            <div class="row center">
                <div class="material-icons" translate="no" [pTooltip]="'directions.title' | transloco" tooltipPosition="left">directions</div>
                <p-button [label]="'app.start' | transloco" variant="text" (onClick)="openDirections(true)"/>
                <p-button [label]="'app.end' | transloco" variant="text" (onClick)="openDirections(false)"/>
            </div>
        }
    </div>

	<div class="padding-sides">
		<p-divider/>
	</div>

    @if (getRoutes().length > 0) {
        <div class="column gap padding-sides content">
            <div class="row gap-small center">
                <p-checkbox #showDetailsCheckbox inputId="showDetailsCheckbox" [binary]="true"/>
                <label for="showDetailsCheckbox">{{ 'app.show_details' | transloco }}</label>
            </div>
            <div class="column">
                @for (route of getRoutes(); track $index) {
                    <div class="column">
                        <p-divider class="small-divider"/>
                        <app-data-list-entry [icons]="[route.typeIcon, route.hidden ? 'visibility_off' : '']" [title]="[route.name | formatName, route.number | formatName]" [subtitles]="showDetailsCheckbox.checked ? mapRouteVariations(route.variations) : []" [color]="route.color | formatColor" [useLightColor]="false" [clickable]="true" (entryClicked)="routeClicked.emit(getRouteKey(route))"/>
                    </div>
                }
            </div>
        </div>
    }
</div>