<div class="column gap wrapper" [formGroup]="formGroup">
	<div class="column gap-small padding-sides">
		<app-search i18n-label label="Search for anything..." [parentFormGroup]="formGroup" childFormControlName="search" [includeRoutes]="true" (stationClicked)="clickStation($event)" (routeClicked)="clickRoute($event)" (clientClicked)="clickClient($event)"/>
		<p-float-label variant="in">
			<p-select inputId="dropdown" formControlName="dimension" [options]="getDimensions()" (onChange)="setDimension()" [fluid]="true"/>
			<label for="dropdown">{{ getDimensionLocalize() }}</label>
		</p-float-label>
		<button pButton class="icon-button" severity="secondary" (click)="directionsOpened.emit()" [fluid]="true" [style.display]="isOffline() ? 'none' : ''">
			<div class="row gap-small">
				<div class="material-icons">directions</div>
				<div i18n>Find Directions</div>
			</div>
		</button>
	</div>
	<div class="column content">
		<div class="column padding-sides">
			<div class="column gap-small">
				@for (routeType of routeTypes; track $index) {
					<div class="row gap center">
						<div class="material-icons">{{ routeType[1].icon }}</div>
						<div class="shrink spacing">{{ routeType[1].text }}</div>
						<app-visibility-toggle [routeType]="routeType[0]"/>
					</div>
				}
				@if (getEnableAutoDetectBusRoutes()) {
					<div class="row gap center toggle">
						<div class="material-icons">directions_bus</div>
						<div class="shrink spacing" i18n>Auto Detect Bus Route(s)</div>
						<p-toggle-switch inputId="autoDetectBusRoutes" formControlName="autoDetectBusRoutes" (onChange)="setAutoDetectBusRoutes($event.checked)"/>
					</div>
				}
				@if (getEnableShowHiddenRoutes()) {
					<div class="row gap center toggle">
						<div class="material-icons">visibility_off</div>
						<div class="shrink spacing" i18n>Show Hidden Route(s)</div>
						<p-toggle-switch inputId="showHiddenRoutesToggle" formControlName="showHiddenRoutesToggle" (onChange)="setShowHiddenRoutes($event.checked)"/>
					</div>
				}
				@if (getEnableShowAllStations()) {
					<div class="row gap center toggle">
						<div class="material-icons">visibility_off</div>
						<div class="shrink spacing" i18n>Show All Station(s)</div>
						<p-toggle-switch inputId="showAllStationsToggle" formControlName="showAllStationsToggle" (onChange)="setShowAllStations($event.checked)"/>
					</div>
				}
			</div>
			@if (hasInterchanges()) {
				<p-divider/>
				<div class="row gap center">
					<div class="material-icons">polyline</div>
					<div class="shrink spacing" i18n>Interchange Style</div>
					<app-interchange-style-toggle/>
				</div>
			}
			<p-divider/>
			<div [hidden]="isOffline()">
				<p-accordion [multiple]="true">
					<p-accordion-panel>
						<p-accordion-header>{{ getPlayersLocalize() }} ({{ getAllClients().length }})</p-accordion-header>
						<p-accordion-content>
							@if (getAllClients().length === 0) {
								<div i18n>There are no players online.</div>
							} @else {
								<div class="column gap-small">
									@for (client of getAllClients(); track $index) {
										<app-data-list-entry [icons]="['https://mc-heads.net/avatar/' + client.id]" [title]="[client.name, '']" [subtitles]="[]" [useLightColor]="false" [clickable]="true" (entryClicked)="clientClicked.emit(client.id)"/>
									}
								</div>
							}
						</p-accordion-content>
					</p-accordion-panel>
				</p-accordion>
			</div>
			<a i18n-href href="../zh-Hans/">
				<button pButton class="icon-button" severity="secondary" [fluid]="true">
					<div class="row gap-small">
						<div class="material-icons">translate</div>
						<div i18n>简体中文</div>
					</div>
				</button>
			</a>
			<p-divider/>
			<div class="column gap-small bottom">
				<div class="row gap center">
					<div class="material-icons">palette</div>
					<div class="shrink spacing" i18n>Theme</div>
					<app-theme-toggle/>
				</div>
				<div class="row gap center">
					<div class="material-icons">text_format</div>
					<div class="shrink spacing" i18n>Font Style</div>
					<app-font-style-toggle/>
				</div>
				@if (getEnableDeveloperMode()) {
					<div class="row gap center toggle">
						<div class="material-icons">code</div>
						<div class="shrink spacing" i18n>Developer Mode</div>
						<p-toggle-switch inputId="developerMode" formControlName="developerMode" (onChange)="setDeveloperMode($event.checked)"/>
					</div>
				}
			</div>
		</div>
		<div class="spacing"></div>
	</div>
</div>
