<div class="column gap wrapper" [formGroup]="formGroup">
	<div class="column gap-small padding-sides">
		<app-search [label]="'main.search' | transloco" [parentFormGroup]="formGroup" childFormControlName="search" [multiple]="false" [includeStations]="true" [includeRoutes]="true" [includeDepots]="true" [includeClients]="true" (stationClicked)="clickStation($event)" (routeClicked)="clickRoute($event)" (clientClicked)="clickClient($event)" (depotClicked)="clickDepot($event)"/>
		<p-float-label variant="in">
			<p-select inputId="dropdown" formControlName="dimension" [options]="getDimensions()" (onChange)="setDimension()" [fluid]="true"/>
			<label for="dropdown">{{ (getHistoricalMap() ? 'main.time_or_data_source' : 'main.dimension') | transloco }}</label>
		</p-float-label>
		@if (getEnablePathfinder()) {
			<p-float-label variant="in">
				<p-select inputId="dropdownDirection" formControlName="directionsEngine" [options]="['official', 'pathfinder']" (onChange)="setDirectionsEngine()" [fluid]="true"/>
				<label for="dropdownDirection">{{ 'main.directions_engine' | transloco }}</label>
			</p-float-label>
		}
		<p-float-label variant="in">
			<p-select inputId="dropdownLanguage" formControlName="language" [options]="getSupportedLanguages()" (onChange)="setLanguage()" [fluid]="true"/>
			<label for="dropdownLanguage">{{ 'main.language' | transloco }}{{ usingEnglish() ? "" : " / Language"}}</label>
		</p-float-label>
		<button pButton class="icon-button" severity="secondary" (click)="directionsOpened.emit()" [fluid]="true" [style.display]="isOffline() ? 'none' : ''">
			<div class="row gap-small">
				<div class="material-icons">directions</div>
				<div>{{ 'main.directions' | transloco}}</div>
			</div>
		</button>
	</div>
	<div class="column content">
		<div class="column padding-sides">
			<div class="column gap-small">
				@for (routeType of routeTypes; track $index) {
					<div class="row gap center">
						<div class="material-icons" translate="no">{{ routeType[1].icon }}</div>
						<div class="shrink spacing">{{ routeType[1].text | transloco }}</div>
						<app-visibility-toggle [routeType]="routeType[0]"/>
					</div>
				}
				@if (getEnableShowHiddenRoutes()) {
					<div class="row gap center toggle">
						<div class="material-icons" translate="no">visibility_off</div>
						<div class="shrink spacing">{{ 'main.show_hidden_routes' | transloco }}</div>
						<p-toggle-switch inputId="showHiddenRoutesToggle" formControlName="showHiddenRoutesToggle" (onChange)="setShowHiddenRoutes($event.checked)"/>
					</div>
				}
				@if (getEnableShowEmptyRoutes()) {
					<div class="row gap center toggle">
						<div class="material-icons" translate="no">insert_drive_file</div>
						<div class="shrink spacing">{{ 'main.show_empty_routes' | transloco }}</div>
						<p-toggle-switch inputId="showEmptyRoutesToggle" formControlName="showEmptyRoutesToggle" (onChange)="setShowEmptyRoutes($event.checked)"/>
					</div>
				}
				@if (getEnableShowAllStations()) {
					<div class="row gap center toggle">
						<div class="material-icons" translate="no">visibility_off</div>
						<div class="shrink spacing">{{ 'main.show_all_stations' | transloco }}</div>
						<p-toggle-switch inputId="showAllStationsToggle" formControlName="showAllStationsToggle" (onChange)="setShowAllStations($event.checked)"/>
					</div>
				}
				@if (getEnableShowDepots()) {
					<div class="row gap center toggle">
						<div class="material-icons" translate="no">home</div>
						<div class="shrink spacing">{{ 'main.show_depots' | transloco}}</div>
						<p-toggle-switch inputId="showDepots" formControlName="showDepots" (onChange)="setShowDepots($event.checked)"/>
					</div>
				}
			</div>
			@if (hasInterchanges()) {
				<p-divider/>
				<div class="row gap center">
					<div class="material-icons">polyline</div>
					<div class="shrink spacing">{{ 'main.interchange_style' | transloco}}</div>
					<app-interchange-style-toggle/>
				</div>
			}
			<div [hidden]="isOffline()" class="player-accordion">
				<p-divider/>
				<p-accordion [multiple]="true">
					<p-accordion-panel>
						<p-accordion-header>{{ 'app.players' | transloco }} ({{ getAllClients().length }})</p-accordion-header>
						<p-accordion-content>
							@if (getAllClients().length === 0) {
								<div>{{ 'main.no_players' | transloco}}</div>
							} @else {
								<div class="column gap-small">
									@for (client of getAllClients(); track $index) {
										<app-data-list-entry [icons]="['https://mc-heads.net/avatar/' + client.id]" [title]="[client.name, '']" [subtitles]="[]" [useLightColor]="false" [clickable]="true" (entryClicked)="clientClicked.emit(client.id)"/>
									}
								</div>
							}
						</p-accordion-content>
					</p-accordion-panel>
				</p-accordion>
			</div>
			<p-divider/>
			<div class="column gap-small">
				<div class="row gap center">
					<div class="material-icons" translate="no">palette</div>
					<div class="shrink spacing">{{ 'theme.title' | transloco }}</div>
					<app-theme-toggle/>
				</div>
				<div class="row gap center">
					<div class="material-icons" translate="no">text_format</div>
					<div class="shrink spacing">{{ 'main.font_style' | transloco }}</div>
					<app-font-style-toggle/>
				</div>
			</div>
			@if (getEnableAutoDetectBusRoutes() || getEnableDeveloperMode()) {
				<p-divider/>
				<p-accordion [value]="0" [multiple]="true">
					<p-accordion-panel>
						<p-accordion-header>{{ 'main.advanced_settings' | transloco }}</p-accordion-header>
						<p-accordion-content>
							<div class="column gap-small">
								@if (getEnableAutoDetectBusRoutes()) {
									<div class="row gap center toggle">
										<div class="material-icons">directions_bus</div>
										<div class="shrink spacing">{{ 'main.auto_detect_bus_routes' | transloco}}</div>
										<p-toggle-switch inputId="autoDetectBusRoutes" formControlName="autoDetectBusRoutes" (onChange)="setAutoDetectBusRoutes($event.checked)"/>
									</div>
								}
								@if (getEnableDeveloperMode()) {
									<div class="row gap center toggle">
										<div class="material-icons">code</div>
										<div class="shrink spacing">{{ 'main.developer_mode' | transloco}}</div>
										<p-toggle-switch inputId="developerMode" formControlName="developerMode" (onChange)="setDeveloperMode($event.checked)"/>
									</div>
								}
							</div>
						</p-accordion-content>
					</p-accordion-panel>
				</p-accordion>
			}
			<small>{{ 'copyright.osm' | transloco }}</small>
		</div>
		<div class="spacing"></div>
	</div>
</div>
