<div class="column gap wrapper {{getBetterScroll()?'scrollable':''}}">
	<div class="column gap padding-sides">
		<app-title [name]="getRouteName()" [color]="getRouteColor()"/>
		@if (getDeveloperMode()) {
			<div class="row gap-small center">
				<div class="row gap center" i18n-pTooltip pTooltip="ID" tooltipPosition="left">
					<div class="material-icons">code</div>
					<div>{{ getRouteID() }}</div>
				</div>
				<div class="row center">
					<button pButton class="icon-button" [rounded]="true" [text]="true" (click)="copyRouteID(id_icon)" i18n-pTooltip pTooltip="Copy ID" tooltipPosition="bottom">
						<div class="material-icons" #id_icon>content_copy</div>
					</button>
				</div>
			</div>
		}
		@if (getRouteHidden()) {
			<div class="row gap center">
				<div class="row gap center" i18n-pTooltip pTooltip="Hidden Route" tooltipPosition="left">
					<div class="material-icons">visibility_off</div>
					<div i18n>Please confirm that this route is open.</div>
				</div>
			</div>
		}
		<p-float-label variant="in">
			<p-select inputId="dropdown" [options]="getDropdownRoutes()" optionLabel="name" (onChange)="selectRoute($event.value.id)" [(ngModel)]="dropdownValue" [fluid]="true">
				<ng-template #item let-route>{{ route.name | formatName }}</ng-template>
			</p-select>
			<label for="dropdown" i18n>Route Variation</label>
		</p-float-label>
		@if (getTotalDurationSeconds(); as totalDurationSeconds) {
			<div class="row gap center">
				<div class="row gap center" i18n-pTooltip pTooltip="Total Duration" tooltipPosition="left">
					<div class="material-icons">schedule</div>
					<div>{{ totalDurationSeconds | formatTime : "" }}</div>
				</div>
			</div>
		}
		@if (!getEnableRouteDepotsDetails()) {
			<div class="row gap center">
				<div class="row gap center" i18n-pTooltip pTooltip="Depot(s) For Route" tooltipPosition="left">
					<div class="material-icons">home</div>
					@if (getRouteDepots().length === 0) {
						<div i18n>(None)</div>
					} @else {
						<div class="column gap-small">
							@for (depot of getRouteDepots(); track $index) {
								<div>{{ depot.name.split("||")[0] | formatName }}</div>
							}
						</div>
					}
				</div>
			</div>
		}
	</div>

	<p-tabs class="wrapper" value="0">
		<p-tablist>
			<p-tab value="0" i18n>Stations</p-tab>
			@if (getEnableRouteDepotsDetails() && getRouteDepots().length > 0) {
				<p-tab value="1" i18n>Depots</p-tab>
			}
		</p-tablist>

		<p-tabpanels class="wrapper">
			<p-tabpanel value="0">
				<div class="column gap padding-top-bottom padding-sides content">
					<div class="row gap-small center" [style.display]="isOnline() && hasDurations() ? '' : 'none'">
						<p-checkbox #showDurationsCheckbox inputId="showDurationsCheckbox" [binary]="true"/>
						<label for="showDurationsCheckbox" i18n>Show Travel Times</label>
					</div>
					<div class="row gap-small center" [style.display]="isOnline() && hasDwellTimes() ? '' : 'none'">
						<p-checkbox #showDwellTimesCheckbox inputId="showDwellTimesCheckbox" [binary]="true"/>
						<label for="showDwellTimesCheckbox" i18n>Show Dwell Times</label>
					</div>
					<div class="column">
						@for (stationDetails of getRouteStationDetails(); track $index) {
							<app-route-display #display1 [colorAbove]="$index > 0 ? getRouteColor() : undefined" [colorBelow]="$index < $count - 1 ? getRouteColor() : undefined" [isStation]="true" [icons]="getVehicleIcons(stationDetails.vehicles, display1.getHeight() + display2.getHeight())">
								<div class="row center">
									<app-data-list-entry class="spacing" [icons]="[]" [title]="[stationDetails.name | formatName, '']" [subtitles]="[]" [useLightColor]="false" [clickable]="true" (entryClicked)="stationClicked.emit(stationDetails.id)"/>
									@if (showDwellTimesCheckbox.checked && stationDetails.dwellTimeSeconds && isOnline()) {
										<div class="row center duration" i18n-pTooltip pTooltip="Dwell Time">
											<div class="material-icons">hourglass_empty</div>
											<div>&nbsp;{{ stationDetails.dwellTimeSeconds | formatTime :"" }}</div>
										</div>
									}
								</div>
							</app-route-display>
							<app-route-display #display2 [colorAbove]="getRouteColor()" [colorBelow]="getRouteColor()" [isStation]="false" [icons]="[]" [style.display]="$index < $count - 1? '' : 'none'">
								@if (showDurationsCheckbox.checked && stationDetails.durationSeconds && isOnline()) {
									<div class="row">
										<div class="spacing"></div>
										<div class="row center duration" i18n-pTooltip pTooltip="Travel Time">
											<div class="material-icons">{{ getRouteIcon() }}</div>
											<div>&nbsp;{{ stationDetails.durationSeconds | formatTime :"" }}</div>
										</div>
									</div>
								}
							</app-route-display>
						}
					</div>
				</div>
			</p-tabpanel>

			@if (getEnableRouteDepotsDetails() && getRouteDepots().length > 0) {
				<p-tabpanel value="1">
					<div class="column gap padding-top-bottom padding-sides content">
						<div class="column">
							@for (depot of getRouteDepots(); track $index) {
								<div class="column">
									<app-data-list-entry [icons]="depot.getIcons()" [title]="[depot.name | formatName, '']" [subtitles]="[]" [color]="depot.color | formatColor" [useLightColor]="false" [clickable]="true" (entryClicked)="depotClicked.emit(depot.id)"/>
									<p-divider class="small-divider"/>
								</div>
							}
						</div>
					</div>
				</p-tabpanel>
			}
		</p-tabpanels>
	</p-tabs>
</div>
