<div class="column gap wrapper">
	<div class="column gap padding-sides">
		<app-title [name]="getRouteName()" [color]="getRouteColor()"/>
		@if (getDeveloperMode()) {
			<div class="row gap-small center">
				<div class="row gap center" [pTooltip]="'app.id' | transloco" tooltipPosition="left">
					<div class="material-icons" translate="no">code</div>
					<div>{{ getRouteID() }}</div>
				</div>
				<div class="row center">
					<button pButton class="icon-button" [rounded]="true" [text]="true" (click)="copyRouteID(id_icon)" [pTooltip]="'app.copy_id' | transloco" tooltipPosition="bottom">
						<div class="material-icons" translate="no" #id_icon>content_copy</div>
					</button>
					<button pButton class="icon-button" [rounded]="true" [text]="true" (click)="copyRouteKey(key_icon)" [pTooltip]="'route.copy_route_key' | transloco" tooltipPosition="bottom">
						<div class="material-icons" translate="no" #key_icon>copy_all</div>
					</button>
				</div>
			</div>
		}
		@if (getRouteHidden()) {
			<div class="row gap center">
				<div class="row gap center" [pTooltip]="'route.hidden_route' | transloco" tooltipPosition="left">
					<div class="material-icons" translate="no">visibility_off</div>
					<div>{{ 'route.hidden_info' | transloco }}</div>
				</div>
			</div>
		}
		<p-float-label variant="in">
			<p-select inputId="dropdown" [options]="getDropdownRoutes()" optionLabel="name" (onChange)="selectRoute($event.value.id)" [(ngModel)]="dropdownValue" [fluid]="true">
				<ng-template #item let-route>{{ route.name | formatName }}</ng-template>
			</p-select>
			<label for="dropdown">{{ 'route.variation' | transloco }}</label>
		</p-float-label>
		@if (getTotalDurationSeconds(); as totalDurationSeconds) {
			<div class="row gap center">
				<div class="row gap center" [pTooltip]="'route.total_duration' | transloco" tooltipPosition="left">
					<div class="material-icons" translate="no">schedule</div>
					<div>{{ totalDurationSeconds | formatTime : "" }}</div>
				</div>
			</div>
		}
		@if (!getEnableRouteDepotsDetails()) {
			<div class="row gap center">
				<div class="row gap center" [pTooltip]="'route.depots_for_route' | transloco" tooltipPosition="left">
					<div class="material-icons" translate="no">home</div>
					@if (getRouteDepots().length === 0) {
						<div>{{ 'app.none' | transloco }}</div>
					} @else {
						<div class="column gap-small">
							@for (depot of getRouteDepots(); track $index) {
								<div>{{ depot.name.split("||")[0] | formatName }}</div>
							}
						</div>
					}
				</div>
			</div>
		}
	</div>

	<p-tabs class="wrapper" value="0">
		<p-tablist>
			@if (getRouteStationDetails().length > 0) {
				<p-tab value="0">{{ 'app.stations' | transloco}}</p-tab>
			}
			@if (getEnableRouteDepotsDetails() && getRouteDepots().length > 0) {
				<p-tab value="1">{{ 'app.depots' | transloco}}</p-tab>
			}
		</p-tablist>

		<p-tabpanels class="wrapper">
			@if (getRouteStationDetails().length > 0) {
				<p-tabpanel value="0">
					<div class="column gap padding-top-bottom padding-sides content">
						<div class="row gap-small center" [style.display]="isOnline() && hasDurations() ? '' : 'none'">
							<p-checkbox #showDurationsCheckbox inputId="showDurationsCheckbox" [binary]="true"/>
							<label for="showDurationsCheckbox">{{ 'route.show_travel_times' | transloco}}</label>
						</div>
						<div class="row gap-small center" [style.display]="isOnline() && hasDwellTimes() ? '' : 'none'">
							<p-checkbox #showDwellTimesCheckbox inputId="showDwellTimesCheckbox" [binary]="true"/>
							<label for="showDwellTimesCheckbox">{{ 'route.show_dwell_times' | transloco }}</label>
						</div>
						<div class="row gap-small center" [style.display]="isC324() ? 'none' : ''">
							<p-checkbox #showPlatformsCheckbox inputId="showPlatformsCheckbox" [binary]="true"/>
							<label for="showPlatformsCheckbox">{{ 'app.show_platforms' | transloco }}</label>
						</div>
						<div class="column">
							@for (stationDetails of getRouteStationDetails(); track $index) {
								<app-route-display #display1 [colorAbove]="$index > 0 ? getRouteColor() : undefined" [colorBelow]="$index < $count - 1 ? getRouteColor() : undefined" [isStation]="true" [icons]="getVehicleIcons($index, display1.getHeight() + display2.getHeight())">
									<div class="row center">
										<app-data-list-entry class="spacing" [icons]="[]" [title]="[stationDetails.name | formatName, '']" [subtitles]="showPlatformsCheckbox.checked ? [[getPlatformName(stationDetails.platform), '']] : []" [useLightColor]="false" [clickable]="true" (entryClicked)="stationClicked.emit(stationDetails.id)"/>
										@if (showDwellTimesCheckbox.checked && stationDetails.dwellTimeSeconds && isOnline()) {
											<div class="row center duration" [pTooltip]="'route.dwell_time' | transloco">
												<div class="material-icons" translate="no">hourglass_empty</div>
												<div>&nbsp;{{ stationDetails.dwellTimeSeconds | formatTime :"" }}</div>
											</div>
										}
									</div>
								</app-route-display>
								<app-route-display #display2 [colorAbove]="getRouteColor()" [colorBelow]="getRouteColor()" [isStation]="false" [icons]="[]" [style.display]="$index < $count - 1? '' : 'none'">
									@if (showDurationsCheckbox.checked && stationDetails.durationSeconds && isOnline()) {
										<div class="row">
											<div class="spacing"></div>
											<div class="row center duration" [pTooltip]="'route.travel_time' | transloco">
												<div class="material-icons" translate="no">{{ getRouteIcon() }}</div>
												<div>&nbsp;{{ stationDetails.durationSeconds | formatTime :"" }}</div>
											</div>
										</div>
									}
								</app-route-display>
							}
						</div>
					</div>
				</p-tabpanel>
			}

			@if (getEnableRouteDepotsDetails() && getRouteDepots().length > 0) {
				<p-tabpanel value="1">
					<div class="column gap padding-top-bottom padding-sides content">
						<div class="column">
							@for (depot of getRouteDepots(); track $index) {
								<div class="column">
									<app-data-list-entry [icons]="depot.getIcons()" [title]="[depot.name | formatName, '']" [subtitles]="[]" [color]="depot.color | formatColor" [useLightColor]="false" [clickable]="true" (entryClicked)="depotClicked.emit(depot.id)"/>
									<p-divider class="small-divider"/>
								</div>
							}
						</div>
					</div>
				</p-tabpanel>
			}
		</p-tabpanels>
	</p-tabs>
</div>
